package views

templ Index() {
	<div  hx-on:click="1littleWeebAud.play()" class="h-screen w-screen">
		<div class="flex flex-col items-center pt-8 ">
			<button hx-get="/weeb" hx-target="closest div" class="flex flex-row m-4 p-2  w-full justify-center text-[5rem] my-[30rem]">
				Is JP a weeb? Click to find out.
			</button>
			
		</div>


		
	</div>
}
