package views

import "ecommercesite/items"

templ ItemPage(item items.Item) {
	<div class="flex flex-col">
		<div class="flex flex-row">
			<img src={ item.Img } alt="" class="w-[250px] rounded"/>
		</div>
		<div class="flex flex-col">
			<h1>{ item.Name }</h1>
			<p>{ item.Description }</p>
		</div>
		<div>
			{ item.Price }
		</div>
	</div>
}
